html
  head
    title!= title

    link(href='/dist/semantic.min.css', rel='stylesheet')

    style(type='text/css').
      body > .grid {
        height: 100%;
      }
      .column {
        max-width: 450px;
      } 
  body
    div(class='ui middle aligned center aligned grid')
      div(class='column')
        -if (message != '')
          div(class='ui info message')
            i(class='close icon')
            !{message}
        form(class='ui large form', action='/signup', method='post')
          div(class='ui segment')
            div(class='field')
              div(class='ui left icon input')
                i(class='user icon')
                input(type='text', name='email', placeholder='E-mail address')
            div(class='field')
              div(class='ui left icon input')
                i(class='lock icon')
                input(type='password', name='password', placeholder='Password')
            button(class='ui fluid large blue submit button', type='submit') Sign up 
          div(class='ui error message')
        div(class='ui message') Already have an account? 
          a(href='/login') Log in
