<html>
  <head>
    <title>kasi.io{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">

    <!--<script src="/dist/semantic.min.js"></script>-->

    <style type="text/css">
      body > .grid {
        height: 100%;
      }

      .column {
        max-width: 450px;
      }

      label {
        text-align: left;
      }
    </style>
  </head>
  <body>
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <form class="ui form">
          {% block form %}{% endblock %}

          <button class="ui button" type="submit">{% block submitButton %}Submit{% endblock %}</button>
        </form>
      </div>
    </div>
  </body>
</html>
